// common is used to share some variables of the theme with encapsulated component styles
// compass mixins
//@import '../../../node_modules/compass-mixins/lib/_compass.scss';


@import '../styles';


@mixin gitchText($offset, $text) {
  content: $text;
  position: absolute;
  left: $offset;
  top: $offset;
  clip: rect(0, 900px, 0, 0);
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}
