@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Oswald:200,300,400,500,700');
body{
  background-image: url(/assets/images/Chalkboard-background.jpg);
  background-size: cover;
  font-size: 16px;
  color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oswald', sans-serif;
  h1,h2,h3,h4,h5,h6{
    font-family: 'Gochi Hand', cursive;
  }
  &:before,
  &:after{
    content: '';
    height: 50vh;
    width:100%;
    position:fixed;
    left:0;
    background: #1c2020;
    z-index:1;

  }

  &:before{
    top: 0;
    transform: translateY(-100%);
  }
  &:after{
    bottom: 0;
    transform: translateY(100%);
  }

}
