@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Lato:100,300,600,800');

$font-family-base: 'Lato', sans-serif;
$font-family-slap: 'Open Sans', serif;

$title-color: #f1f1f1;
$font-color: #ece1c8;
$light-color: #fff;

body{
  //background-image: url(/assets/images/page_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0dacd;
  height: 100vh;
  font-size: .9rem;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  h1,h2,h3,h4,h5,h6{
    font-family: $font-family-slap;
    text-transform: uppercase;
    font-weight: 600;
    color: $title-color;
  }
  h1{
    font-size: 1.9em;
    &:before{
      background: $font-color;
      color: #000;
      font-size: 0.3em;
      position: relative;
      font-weight: 900;
      top: -20px;
      left: 25px;
      padding: 3px 5px;
      font-family: "Montserrat", sans-serif;
      content: 'LOTTES';
      opacity: 0.15;
      -webkit-transform: rotate(-8deg);
      -moz-transform: rotate(-8deg);
      -o-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
      transform: rotate(-8deg);
      display: inline-block;
    }
  }
  &:before,
  &:after{
    content: '';
    height: 50vh;
    width:100%;
    position:fixed;
    left:0;
    background: #1c2020;
    z-index:1;

  }

  &:before{
    top: 0;
    transform: translateY(-100%);
  }
  &:after{
    bottom: 0;
    transform: translateY(100%);
  }
  .wrapper{
    width: 100vw;
    text-align: center;
    .content-middle {
      //background: #fff;
      //border: 1px solid #eaeaea;
      padding: 2em 3em 2em 3em;
      margin: 3em auto;
      background: transparentize(#fff,.9);
      line-height: 1.7em;
      width: 80%;
      max-width: 1200px;
      min-height: 80vh;
      h3{
        font-size: 1.6em;
        font-weight: 900;
        letter-spacing: 2px;
        margin-bottom: 1.2em;
      }
    }
  }
}
*:focus {
  outline: none;
}
