@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700|Open+Sans:300,400,700');

$font-family-base: 'Open Sans', sans-serif;
$font-family-slap: 'Cairo', serif;
body{
  background-image: url(/assets/images/Chalkboard-background.jpg);
  font-size: 16px;
  color: #4b4c46;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  h1,h2,h3,h4,h5,h6{
    font-family: $font-family-slap;
  }
  &:before,
  &:after{
    content: '';
    height: 50vh;
    width:100%;
    position:fixed;
    left:0;
    background: #1c2020;
    z-index:1;

  }

  &:before{
    top: 0;
    transform: translateY(-100%);
  }
  &:after{
    bottom: 0;
    transform: translateY(100%);
  }
}
*:focus {
  outline: none;
}
