@import "common";

header {
  height: 100px;
  .nav-item {
    cursor: pointer;
    &.active {
      outline: none !important;
    }
  }
  .nav-button {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 20px;
    padding: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    .menu-btn_text {
      font-family: $font-family-slap;
      letter-spacing: .2em;
      font-size: 0.75em;
      font-weight: 800;
      top: 26px;
      left: 30px;
      position: absolute;
      display: inline-block;
      color: $light-color;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
    .menu-btn_circle {
      svg {
        stroke: $light-color;
        display: inline-block;
        width: 50px;
        height: 50px;
        transition: all .25s cubic-bezier(.215, .61, .355, 1);
        stroke-dasharray: 132;
        transform: rotate(20deg);
        opacity: 1;
      }
      position: absolute;
      display: inline-block;
      color: $light-color;
      top: 10px;
      left: 10px;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
    &:hover {
      .menu-btn_circle {
        svg {
          width: 75px;
          height: 75px;
        }
      }
      .menu-btn_text {
        letter-spacing: 0.75em;
        font-size: 0.65em;
        top: 40px;
        left: 60px;
      }
    }
  }

  .menu-wrapper {
    pointer-events: auto;
    visibility: hidden;
    opacity: 0;
    //transform: translateZ(0);
    transition: all 1.2s cubic-bezier(.535, 0, 0, 1);
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100vh;
    height: 100vh;
    z-index: 900;
    .bg-image {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0px;
      bottom: 0px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background: radial-gradient(#3e5569, #222);
      opacity: .95;
      .large-header {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 1;
      }

      #large-header {
        background-image: url(/assets/photos/nav-bg.jpg);
        background-position-x: center;
        background-size: cover;
        height: 100%;
        opacity: 0.25;
      }
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .menu-list {
    padding: 0;
    z-index: 1000;
    list-style: none;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    display: block;
    opacity: 0;
    margin: 0px auto;
    width: 30vw;
    height: fit-content;
    visibility: hidden;
    position: absolute;
    transition: all 1.2s cubic-bezier(.535, 0, 0, 1) .2s;

    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: scale(.80) translateZ(0);
    }
    li {
      transition: filter 1.2s cubic-bezier(.535, 0, 0, 1) .2s;
    }

    &:hover {
      li {
        opacity: 0.55;
        filter: blur(1px);
        h2 {
          font-size: 1.5rem;
          line-height: 4.2rem;
        }
        &:hover {
          opacity: 1;
          filter: none;
          left: 0;
          right: 0;
          .redShadow {
            text-shadow: 5px 0 red;
          }
          .greenShadow {
            text-shadow: -2px 0 black;
          }
          h2 {
            font-size: 2rem;
            line-height: 4rem;
          }
          .bottom {
            -webkit-clip-path: inset(50% 0 0 0);
            clip-path: inset(50% 0 0 0);
            display: inherit;
            position: absolute;
            left: 0;
            right: 0;
          }

          .top {
            -webkit-clip-path: inset(0 0 49% 0);
            clip-path: inset(0 0 49%);
            position: relative;
          }
        }
      }
    }
    li {
      .bottom {
        display: none;
      }
      h2 {
        letter-spacing: -.1em;
        text-transform: uppercase;
        font-weight: 800;
        font-family: $font-family-slap;

        font-size: 2rem;
        line-height: 4rem;
        //text-space: 0.9em;
        display: inline;
        color: $title-color;
        transition: font-size 1s cubic-bezier(.535, 0, 0, 1) .2s;
        transition: line-height 1s cubic-bezier(.535, 0, 0, 1) .2s;
      }
      text-align: center;
      font-weight: 100;
      cursor: pointer;
      transition: all .4s cubic-bezier(.535, 0, 0, 1) .2s;
      color: #f9f4ea;
      text-transform: uppercase;
      position: relative;
    }
  }
}

@media (max-width: 991px) {
  header {
    .nav-button {
      top: 5px;
      left: 5px;
    }
    .menu-wrapper {
      width: 10vh;
      height: 8vh;
    }
    .menu-list {
      li {
        h2 {
          font-size: 6.5vw !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
