<header>
  <a class="navbar-brand logo pull-right" routerLink="/">
    <img src="assets/images/logo.png"/>
  </a>

  <div class="nav-button" (mousemove)='hoverdiv($event)' (mouseleave)="resetdiv( )" (click)="openNav()" >
    <span class="menu-btn_circle" ratio="1" scale="0.5" [style]="menueStyle()">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" xml:space="preserve">
        <circle fill="none" stroke-width="1" stroke-miterlimit="10" cx="25" cy="25" r="23.8"></circle>
      </svg>
    </span>
    <span class="menu-btn_text" ratio="0.5" scale="0" [style]="textStyle()"><span *ngIf="!callapse" >NAVIGATION</span><span *ngIf="callapse" >CLOSE</span></span>
  </div>
  <div>
    <ul class="menu-list" [ngClass]="{'is-active': callapse}" >
      <li class="menu-list-item" routerLink="" routerLinkActive="active" (click)="callapse = !callapse" >
        <a class="menu-list-link" appGlitch><h2 class="top">Home</h2><h2 class="bottom">Home</h2></a>
      </li>
      <li class="menu-list-item" routerLink="/photos" routerLinkActive="active" (click)="callapse = !callapse" >
        <a class="menu-list-link" appGlitch><h2 class="top">Photos</h2><h2 class="bottom">Photos</h2></a>
      </li>
      <li class="menu-list-item" routerLink="/code" routerLinkActive="active" (click)="callapse = !callapse" >
        <a class="menu-list-link" appGlitch><h2 class="top">Coding</h2><h2 class="bottom">Coding</h2></a>
      </li>
      <li class="menu-list-item" routerLink="/wood" routerLinkActive="active" (click)="callapse = !callapse" >
        <a class="menu-list-link" appGlitch><h2 class="top">Wood</h2><h2 class="bottom">Wood</h2></a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper" [ngClass]="{'is-active': callapse}">
    <div id="bg-image">
      <div id="large-header" class="large-header" #largeHeader>
        <canvas id="demo-canvas" #canvas></canvas>
      </div>
    </div>
  </div>
</header>
