@import "common";

.intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: radial-gradient(circle farthest-corner at center, #3c4b57 0%, #1c262b 100%);

  z-index: 1002;
  .load {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    max-width: 500px;
    color: #fff;
    text-align: center;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .load .quote {
    margin-top: 1em;
    font-size: 23px;
    font-weight: lighter;
    color: #ccc;
  }

  .element-invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .element-invisible.element-focusable:active,
  .element-invisible.element-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .animate {
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .clearfix {
    *zoom: 1;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .tac {
    text-align: center;
  }

  .hide-text {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .hidden {
    display: none !important;
  }

  .browser-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    //background-image: radial-gradient(circle farthest-corner at center, #3c4b57 0%, #1c262b 100%);
    background-image: url(/assets/images/IMG_20170613_141038-01.jpeg);
    background-size: cover;
    .browser {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #eee;
      max-width: 550px;
      max-height: 300px;
      width: 80px;
      height: 80px;
      overflow: hidden;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
      -webkit-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
      box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
      .icon {
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
        i {
          display: table-cell;
          vertical-align: middle;
          color: #666;
        }
      }
      .header {
        background: #ccc;
        color: #999;
        .right {
          float: right;
        }
      }
      .tablet {
        text-align: center;
        color: #999;
        background: #ccc;
        margin: 10px 10px 0;
        height: 75%;
        position: relative;
        span {
          position: absolute;
          bottom: -38px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
      .phone {
        background: #ccc;
        margin: 10px 0;
        height: 80%;
      }
      .header,
      .body {
        padding: 0.5em 1em;
      }
    }

    .aboutAni {
      max-width: 250px;
      width: 100%;
      height: 300px;
      position: absolute;
      margin: auto;
      top: 50%;
      left: 0;
      right: 0;
      overflow: hidden;
      background: #eee;
      z-index: 2;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
      -webkit-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
      box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
    }

    .design {
      .head {
        margin-bottom: 1em;
        width: 100%;
        height: 100px;
        background: #ccc;
      }
      .box-contain {
        margin: 0 auto;
        width: 245px;
        text-align: center;
      }
      .box {
        display: inline-block;
        margin: 5px 5px 5px;
        width: 20%;
        height: 50px;
        background: #ccc;
      }
      .box-large {
        width: 70%;
        height: 60px;
      }
    }

    .develop {
      height: 100%;
      background: #999;

      .sidebar {
        width: 30%;
        height: 100%;
        float: left;
        background: #eee;
      }
      .codebar {
        width: 70%;
        height: 100%;
        padding: 1em;
        float: right;
      }
      .line {
        margin-bottom: 15px;
        width: 100%;
        height: 7px;
        background: #fff;
      }
    }

    .plane {
      text-align: center;
      height: 100%;
      span {
        display: inherit;
        position: relative;
        top: 50%;
        color: #3c4b57;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .more {
      color: #fefefe;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
      span {
        position: relative;
        top: -10px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }

    .load {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      max-width: 500px;
      color: #fff;
      text-align: center;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      .quote {
        margin-top: 1em;
        font-size: 23px;
        font-weight: lighter;
        color: #ccc;
      }
    }

    .text {
      position: absolute;
      top: 50%;
      bottom: 0;
      margin-top: -150px;
      width: 100%;
      color: #999;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    .aboutText {
      margin-top: -200px;
    }
    .aboutText div {
      display: inline-block;
    }

  }
  .speed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    padding: 25px;
    text-align: center;
    z-index: 1002;
    font-weight: 800;
    cursor: pointer;
    line-height: 25px;
    i{
      margin-left: 10px;
      border: 1px solid #fefefe;
      border-radius: 50%;
      padding-top: 5px;
      width: 25px;
      height: 25px;
    }
  }

}
