
<div class="wrapper">
  <h1>About</h1>
  <div class="content-middle">
    <div id="move" class="number">
      01
    </div>
    <div class="image-container" id="move2">
      <img src="/assets/photos/IMG_20170614_102559-01.jpeg" class="image-section">
    </div>
    <div class="description" id="move4">
      <div class="text-box">
        <h2>
          Create <br/>user experience
        </h2>
        I love to create clean and user friendly interfaces in a responsive way by using SCSS, JavaScript and Node.JS
      </div>
    </div>

  </div>

</div>

